<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<button onclick="homeReq()">처음으로</button>
<button onclick="saveReq()">글작성</button>
  <table>
    <tr>
      <th>id</th>
      <th>                 title                </th>
      <th>writer</th>
      <th>date</th>
      <th>hits</th>
      <th>grp</th>
      <th>seq</th>
      <th>dep</th>

    </tr>
    <tr th:each="board: ${boardList}">
      <td th:text="${board.id}"></td>
      <th:block th:each="i : ${#numbers.sequence(1, board.dep)}">
        &nbsp;&nbsp;&nbsp;&nbsp;ㄴ<!-- 4번의 스페이스 -->
      </th:block>
      <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
      <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td th:text="${board.boardHits}"></td>
      <td th:text="${board.grp}"></td>
      <td th:text="${board.seq}"></td>
      <td th:text="${board.dep}"></td>
    </tr>
  </table>
</body>
<script>
  const homeReq = () => {
    location.href = "/";
  }
  const saveReq = () => {
    location.href = "/board/save/";
  }
</script>
</html>