<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.1/cerulean/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <!--footer-->
    <footer th:fragment="footerFragment">
        <div class="empty-space"></div>

        <hr>

        <div class="row">
            <div class="col text-center">
                <h1 class="text-primary-emphasis">토이 프로젝트: 게시판 만들기(시큐리티 적용)</h1>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-4 text-center d-grid gap-2">
                <h4 class="text-primary-emphasis">Company</h4>
                <span>회사 소개</span>
                <span>사업 분야</span>
                <span>사이트 맵</span>
                <span>복리후생</span>
                <span>인재상</span>
                <span>오시는 길</span>
            </div>
            <div class="col-4 text-center d-grid gap-2">
                <h4 class="text-primary-emphasis">Service</h4>
                <span>Spring boot</span>
                <span>MariaDB</span>
                <span>JPA</span>
                <span>Thymeleaf</span>
                <span>Html/Css/JavaScript</span>
                <span>Spring Security</span>
            </div>
            <div class="col-4 text-center d-grid gap-2">
                <h4 class="text-primary-emphasis">Partners</h4>
                <span>Youtube</span>
                <span>Github</span>
                <span>Okky</span>
                <span>Oracle</span>
                <span>Google</span>
                <span>ChatGPT</span>
            </div>
        </div>
        <div class="empty-space"></div>
        <div class="empty-space"></div>
    </footer>
</body>
</html>