<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
  <hr/>
  <form action="/login" method="POST">
    id:       <input type="text" name="username" /> <br/>
    password: <input type="password" name="password" /> <br/>
    <button>로그인</button>
  </form>
  <button onclick="googleReq()">구글로그인</button>
  <button onclick="joinReq()">회원가입</button>


</body>
<script>
    const joinReq = () => {
        location.href = "/join/";
    }

    const googleReq = () => {
        location.href = "/oauth2/authorization/google";
    }

</script>
</html>