<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
  <style>

    th:nth-child(2) {
      width: 200px;
    }
  </style>
</head>
<body>
<button onclick="homeReq()">처음으로</button>
<button onclick="saveReq()">글작성</button>
<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>date</th>
    <th>hits</th>
    <th>grp</th>
    <th>seq</th>
    <th>dep</th>
  </tr>


  <tr th:each="board: ${boardList}">
    <td th:text="${board.id}"></td>
    <td>
      <th:block th:if="${board.dep > 0}">
        <th:block th:each="i : ${#numbers.sequence(1, board.dep)}">
          &nbsp;&nbsp;&nbsp;&nbsp;
        </th:block>
        <a th:href="@{|/board/${board.id}|}">RE:<span th:text="${board.boardTitle}"></span></a>
      </th:block>

      <th:block th:unless="${board.dep > 0}">
        <a th:href="@{|/board/${board.id}|}"><span th:text="${board.boardTitle}"></span></a>
      </th:block>
    </td>

    <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td th:text="${board.boardHits}"></td>
    <td th:text="${board.grp}"></td>
    <td th:text="${board.seq}"></td>
    <td th:text="${board.dep}"></td>
  </tr>
</table>
</body>
<script>
  const homeReq = () => {
    location.href = "/";
  }
  const saveReq = () => { /* 함수 이름을 수정 */
    location.href = "/board/save/";
  }
</script>
</html>