<!DOCTYPE html>
    <html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>
<body>

<form action="/board/save" method="post" enctype="multipart/form-data">


    <div th:if="${user != null}">
        <input type="hidden" name="username" th:value="${user.username}" />
    </div>

    title: <input type="text" name="boardTitle"> <br>
    contents: <textarea name="boardContents" cols="30" rows="10"></textarea> <br>
    file: <input type="file" name="boardFile"> <br>
    <input type="submit" value="글작성">
</form>

</body>
</html>